{% extends "accounts/ac.html" %}

{% block ac %}
  {% if validlink %}
    Changer le mot de passe pour {{ form.user.username }}
  {% else %}
    Réinitialiser votre mot de passe
  {% endif %}

  <div class="card">
    <div class="card-body">
      {% if validlink %}
        <h3 class="card-title text-center pb-3">Changer le mot de passe pour @{{ form.user.username }}</h3>

        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'layouts/form.html' %}
          <div class="form-group col-lg-12 mx-auto mb-0">
            <button type="submit" class="btn btn-outline-success btn-block shadow-sm py-2">
              <span class="font-weight-bold text-uppercase">Changer de mot de passe</span>
            </button>
          </div>
        </form>
      {% else %}
      
      <h3 class="card-title text-center pb-3">Réinitialiser votre mot de passe</h3>
      <div class="alert alert-danger" role="alert">
        Il semble que vous ayez cliqué sur un lien de réinitialisation de mot de passe non valide. Veuillez réessayer.
      </div>
      
      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Demander un nouveau lien de réinitialisation du mot de passe</a>
      {% endif %}
    </div>
  </div>
{% endblock ac %}