{% extends "accounts/ac.html" %}

{% block ac %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center pb-3">Le mot de passe a été modifié !</h3>
      
      <div class="alert alert-success" role="alert">
        Vous avez réussi à changer votre mot de passe ! Vous pouvez maintenant vous connecter.
      </div>

      <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
    </div>
  </div>
{% endblock ac %}