{% extends "accounts/ac.html" %}

{% block ac %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center pb-3">Réinitialiser votre mot de passe</h3>

      <p>Consultez votre courriel pour trouver un lien qui vous permettra de réinitialiser votre mot de passe. S'il n'apparaît pas dans les minutes qui suivent, vérifiez votre dossier de courrier indésirable.</p>
      
      <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
    </div>
  </div>
{% endblock ac %}