{% extends "accounts/ac.html" %}

{% block ac %}
    <div class="card">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'layouts/form.html' %}
                <div class="form-group col-lg-12 mx-auto mb-0">
                  <button type="submit" class="btn btn-outline-success btn-block shadow-sm py-2">
                    <span>Changer de mot de passe</span>
                  </button>
                </div>
            </form>
        </div>
    </div>
{% endblock ac %}