{% extends "accounts/ac.html" %}

{% block ac %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center pb-3">Réinitialiser votre mot de passe</h3>

      {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p {% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
      {% endif %}

      <p>Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'layouts/form.html' %}

        <!-- Submit Button -->
        <div class="form-group col-lg-12 mx-auto mb-0">
          <button type="submit" class="btn btn-outline-success btn-block shadow-sm py-2">
            <span>Envoyer l'email de réinitialisation</span>
          </button>
        </div><!-- /.end button login -->
      </form>
    </div>
  </div>
{% endblock ac %}
