Hello {{ user.username }},

Quelqu'un a demandé une réinitialisation du mot de passe pour l'adresse électronique {{ email }}.
Suivez le lien ci-dessous :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Au cas où vous auriez oublié votre nom d'utilisateur Dashboard : {{ user.username }}

Si le lien ci-dessus ne fonctionne pas, veuillez copier et coller l'URL dans une nouvelle fenêtre du navigateur.

Si vous avez reçu ce courrier par erreur, il est probable qu'un autre utilisateur ait saisi votre adresse électronique par erreur en essayant de réinitialiser votre mot de passe. Si vous n'avez pas besoin de prendre d'autres mesures et pouvez sans risque ne pas tenir compte de ce courriel.

Merci,

L'équipe du conseil d'administration de Dashbord

@flavien-hugs
