{% load formtags widget_tweaks %}

{% for field in form %}
    <div class="form-group col-lg-12 mx-auto">
        {{ field.label_tag }}
        {% render_field field class=field|input_class %}

        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
        
        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text|safe }}
            </small>
        {% endif %}
    </div>
{% endfor %}