<!-- Divider Text -->
<div class="form-group col-lg-12 mx-auto d-flex align-items-center mt-3">
    <div class="border-bottom w-100 ml-5"></div>
    <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
    <div class="border-bottom w-100 mr-5"></div>
</div>

<!-- Social Login -->
<div class="form-group col-lg-12 mx-auto">
    <a href="#" title="continuer avec un compte facebook" class="btn btn-primary shadow-none btn-block py-2 btn-facebook">
        <i class="fa fa-facebook-f mr-2"></i>
        <span class="font-weight-bold text-uppercase d-none d-md-inline-block">continuer avec un compte facebook</span>
    </a>

    <a href="#" title="continuer avec compte github" class="btn btn-primary shadow-none btn-block py-2 btn-twitter">
        <i class="fa fa-github-alt mr-2"></i>
        <span class="font-weight-bold text-uppercase d-none d-md-inline-block">continuer avec compte github</span>
    </a>      
</div><!-- ./end social Login -->