{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center py-5">
        <form method="post" class="mb-4" novalidate>
            {% csrf_token %}
            {% include 'layouts/form.html' %}

            <div class="form-group col-lg-12 mx-auto mb-0">
                <button type="submit" class="btn btn-success text-white shadow-none mr-3"><span class="font-weight-bold text-uppercase">Modifier la réponse</span></button>
                
                <a href="{% url 'dashboard:topic_posts' post.topic.dashboard.pk post.topic.pk %}" class="font-weight-bold text-uppercase btn btn-outline-secondary" role="button">annuler</a>
            </div>
        </form>
    </div>
{% endblock content %}
